<footer class="footer fixed-bottom bg-dark text white pb-3">
	<div class="row d-flex justify-content-center">
		<a href="/form-create-record" class="btn btn-warning btn-lg d-inline-block d-lg-none" data-bs-toggle="modal" data-bs-target="#modalFormNewRecord">
			Create Record
		</a>
	</div>
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-around pt-3">
			<div>
				<p class="text-white mb-0">Expenses Tracker version: 1.0.0.</p>
			</div>
			<div>
				<p class="text-white mb-0">
					All rights reserved - 
					<script>document.write(new Date().getFullYear());</script>
				</p>
			</div>
			<div>
				<a href="https://github.com/AlexBlacksmith/exps-tracker" target="_blank" class="nav-link text-white p-0">GitHub Repo.</a>
			</div>
		</div>
	</div>
</footer>

<!--Alert Template-->
<%- include('templates/alert-template'); -%>
<!--/Alert Template-->

<!--Modal Window Form Create Record-->
<%- include('modal-form-new-record'); -%>
<!--/Modal Window Form Create Record--->

<!--Modal Window Form Edit Record-->
<%- include('modal-form-edit-record'); -%>
<!--/Modal Window Form Edit Record--->

<!--Modal Window Form Create Category-->
<%- include('modal-form-new-category'); -%>
<!--/Modal Window Form Create Category-->

<!--Modal Window Form Edit Category-->
<%- include('modal-form-edit-category'); -%>
<!--/Modal Window Form Edit Category-->

<script type="module" src="js/modules/components/AlertComponent.js"></script>
<script type="module" src="js/modules/components/CategoryComponent.js"></script>
<script type="module" src="js/modules/components/RecordComponent.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap.bundle.min.js"></script>
