<footer class="footer fixed-bottom py-3 bg-dark text white">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-around">
			<div>
				<p class="text-white">Expenses Tracker version: 1.0.0.</p>
			</div>
			<div>
				<p class="text-white">
					All rights reserved - 
					<script>document.write(new Date().getFullYear());</script>
				</p>
			</div>
			<div>
				<p><a href="https://github.com/AlexBlacksmith/exps-tracker" target="_blank" class="nav-link text-white">GitHub Repo.</a></p>
			</div>
		</div>
	</div>
</footer>

<!--Alert Template-->
<%- include('templates/alert-template'); -%>
<!--/Alert Template-->

<!--Modal Window Form Create Record-->
<%- include('modal-form-new-record'); -%>
<!--/Modal Window Form Create Record--->

<!--Modal Window Form Edit Record-->
<%- include('modal-form-edit-record'); -%>
<!--/Modal Window Form Edit Record--->

<!--Modal Window Form Create Category-->
<%- include('modal-form-new-category'); -%>
<!--/Modal Window Form Create Category-->

<!--Modal Window Form Edit Category-->
<%- include('modal-form-edit-category'); -%>
<!--/Modal Window Form Edit Category-->

<script type="module" src="js/modules/AlertComponent.js"></script>
<script type="module" src="js/modules/CategoryComponent.js"></script>
<script type="module" src="js/modules/RecordComponent.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap.bundle.min.js"></script>
