<% if (categories) {
    categories.forEach(function(category) { %>
<div data-category-div="<%=category._id%>" class="d-flex justify-content-center">
<div class="card bg-dark col-10 mb-3">
    <div class="card-header text-white">
        <h3 data-category-name class="card-title text-white">
            <%=category.name%>
        </h3>
    </div>
    <div class="card-body">
        <h5 class="card-title text-white">Description</h5>
        <p data-category-description class="card-text text-white">
            <%=category.description%>
        </p>
    </div>
    <div class="card-footer d-flex justify-content-end">
        <a data-edit-button="<%=category._id%>" href="form-edit-category/<%=category._id%>" class="btn btn-outline-warning me-2" data-bs-toggle="modal" data-bs-target="#modalFormEditCategory">Edit</a>
        <a data-delete-button="<%=category._id%>" href="delete-category-no-js/<%=category._id%>" class="btn btn-outline-warning me-2">Delete</a>
      </div>
</div>
</div>
<% });
} else { %>
<h1><%=message%></h1>
<%}%>

<div data-record-div="<%=record._id%>" class="record-card card bg-dark col-sm-6 col-md-3 my-3 mx-3">
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-dark d-flex justify-content-between">
                <span><h5 class="card-title text-white">Date: </h5></span>
                <span data-record-date class="card-text text-white"><%=new Date(record.createdAt).toDateString();%></span>
            </li>
            <li class="list-group-item bg-dark d-flex justify-content-between">
                <span><h5 class="card-title text-white">Category:</h5></span>
                <span data-record-category class="card-text text-white"><%=record.category.name%></span>
            </li>
            <li class="list-group-item bg-dark d-flex justify-content-between">
                <span><h5 class="card-title text-white">Spent:</h5></span>
                <span data-record-money class="spent card-text fs-4"><%=record.money%></span>
            </li>
            <li class="list-group-item bg-dark">
                <h5 class="card-title text-white">Description</h5>
                <p data-record-description class="card-text text-white">
                    <%=record.description%>
                </p>
            </li>
        </ul>
    </div>
    <div class="card-footer d-flex justify-content-around py-3">
        <a data-edit-button="<%=record._id%>" href="form-edit-record/<%=record._id%>" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalFormEditRecord">Edit</a>
        <a data-delete-button="<%=record._id%>" href="delete-record-no-js/<%=record._id%>" class="btn btn-outline-warning">Delete</a>
    </div>
</div>