<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head'); -%>
    </head>
	<body>
		<!-- HEADER -->
		<%- include('partials/header'); -%>
		<!--/HEADER -->

		<!-- MAIN -->
		<main class="main">
			<div class ="container">
				<div class="d-flex flex-wrap align-items-center justify-content-between py-5">
					<h2 class="page-title ms-2 mb-0">List of the Categories</h2>
					<a href="/form-create-category" class="btn btn-outline-warning btn-lg me-2" data-bs-toggle="modal" data-bs-target="#modalFormNewCategory">Create Category</a>
				</div>

				<div id="category-wrapper">
					<% if (categories) {
						categories.forEach(function(category) { %>
					<div class="d-flex justify-content-center" id="<%=category._id%>">
						<div class="card bg-dark col-10 mb-3">
							<div class="card-header text-white">
								<h3 data-category-name class="card-title text-white">
									<%=category.name%>
								</h3>
							</div>
							<div class="card-body">
								<h5 class="card-title text-white">Description</h5>
								<p data-category-description class="card-text text-white">
									<%=category.description%>
								</p>
							</div>
							<div class="card-footer d-flex justify-content-end">
								<a data-edit-button="<%=category._id%>" href="form-edit-category/<%=category._id%>" class="btn btn-outline-warning me-2" data-bs-toggle="modal" data-bs-target="#modalFormEditCategory">Edit</a>
								<a data-delete-button="<%=category._id%>" href="delete-category-no-js/<%=category._id%>" class="btn btn-outline-warning me-2">Delete</a>
							  </div>
						</div>
					</div>
					<% });
					} else { %>
						<h1><%=message%></h1>
					<%}%> 
					
				</div>

			</div>	
		</main>
		<!--/MAIN -->

		<!--Modal Window Form Create Record-->
		<%- include('partials/modal-form-new-record'); -%>
		<!--/Modal Window Form Create Record--->

		<!--Modal Window Form Create Category-->
		<%- include('partials/modal-form-new-category'); -%>
		<!--/Modal Window Form Create Category-->

		<!--Modal Window Form Edit Category-->
		<%- include('partials/modal-form-edit-category'); -%>
		<!--/Modal Window Form Edit Category-->

		<!-- FOOTER -->
		<%- include('partials/footer'); -%>
		<!--/FOOTER -->
	</body>
</html>