<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head'); -%>
    </head>
	<body>
		<!-- HEADER -->
		<%- include('partials/header'); -%>
		<!--/HEADER -->

		<!-- MAIN -->
		<main class="main">
			<div class ="container">
				<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-sm-between py-5">
					<h2 class="page-title ms-2 mb-0">List of the Categories</h2>
					<a href="/form-create-category" class="btn btn-outline-warning btn-lg me-2" data-bs-toggle="modal" data-bs-target="#modalFormNewCategory">Create Category</a>
				</div>
				<div class="row d-flex justify-content-center">
					<div id="alert-wrapper" class="col-md-6"></div>
				</div>
				<div id="category-wrapper" class="d-flex row justify-content-center justify-content-xxl-start">
					<%if (categories) {
						categories.forEach(category => { %>
							<x-category-card>
								<span slot="id"><%-category._id %></span>
								<span slot="name"><%-category.name %></span>
								<span slot="description"><%-category.description %></span>
							</x-category-card>
						<%});
					}%>
				</div>
			</div>	
		</main>
		<!--/MAIN -->

		<!--New Category Template-->
		<%- include('partials/templates/category-template'); -%>
		<!--/New Category Template-->

		<!--New Record Template-->
		<%- include('partials/templates/record-template'); -%>
		<!--/New Record Template-->

		<!-- FOOTER -->
		<%- include('partials/footer'); -%>
		<!--/FOOTER -->
	</body>
</html>