<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head'); -%>
    </head>
	<body>
		<!-- HEADER -->
		<%- include('partials/header'); -%>
		<!--/HEADER -->
		<!-- MAIN -->
		<main class="main">
			<div class="container d-flex justify-content-center">
				<div class="d-flex flex-column col-lg-6 align-items-center my-5 py-5">
					<div id="temp-wrapper"></div>
					<ul class="list-unstyled">
						<li class="d-flex align-items-center justify-content-between m-3">
							<h3 class="text-white text-uppercase mx-3 my-0">Last 24 hours:</h3>
							<span data-spent-day class="spent fs-1"></span>
						</li>
						<li class="d-flex align-items-center justify-content-between m-3">
							<h3 class="text-white text-uppercase mx-3 my-0">Last 7 days:</h3>
							<span data-spent-week class="spent fs-1"></span>
						</li>
						<li class="d-flex align-items-center justify-content-between m-3">
							<h3 class="text-white text-uppercase mx-3 my-0">Last 30 days:</h3>
							<span data-spent-mount class="spent fs-1"></span>
						</li>
						<li class="d-flex align-items-center justify-content-between m-3">
							<h3 class="text-white text-uppercase mx-3 my-0">Last year:</h3>
							<span data-spent-year class="spent fs-1"></span>
						</li>
					</ul>
				</div>
			</div>	
		</main>
		<!--/MAIN -->

		<!--New Record Template-->
		<%- include('partials/templates/record-template'); -%>
		<!--/New Record Template-->

		<!--Modal Window Form Create Record-->
		<%- include('partials/modal-form-new-record'); -%>
		<!--/Modal Window Form Create Record--->

		<!--Modal Window Form Edit Record-->
		<%- include('partials/modal-form-edit-record'); -%>
		<!--/Modal Window Form Edit Record--->

		<!-- FOOTER -->
		<%- include('partials/footer'); -%>
		<!--/FOOTER -->

		<script type="module" src="js/stats.js"></script>
	</body>
</html>