<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head'); -%>
    </head>
	<body>
		<!-- HEADER -->
		<%- include('partials/header'); -%>
		<!--/HEADER -->

		<!-- MAIN -->
		<main class="main">
			<div class ="container">
				<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between py-5">
					<h2 class="page-title ms-2 mb-0">All Records</h2>
				</div>

				<div class="d-flex row justify-content-center">
					<div class="card bg-dark border-white">
						<div class="card-footer row d-flex justify-content-between align-items-center text-center">
							<span class="col-4 col-lg-2 fs-3 spent">Date</span>
							<span class="col-4 col-lg-2 fs-3 spent">Category</span>
							<span class="col-4 col-lg-2 fs-3 spent">Spent</span>
							<span class="row col-lg-5 fs-3 spent d-none d-lg-inline-block mx-auto">Description</span>
							<span class="row col-lg-1 fs-3 spent d-none d-lg-inline-block mx-auto"></span>
						</div>
						<div id="recordWrapper">
							<% if (records) {
								records.forEach(record => { %>
							<x-record-card 
								id="<%=record._id%>",
								date="<%=new Date(record.createdAt).toDateString();%>",
								<% if(record.category) { %>
									category-id = "<%=record.category._id%>",
									category="<%=record.category.name%>",
								<% } else {%>
									category-id = "",
									category="No category",
								<% } %>
								money="<%=record.money%>",
								description="<%=record.description%>">
							</x-record-card>
							<%	});
							} %>
						</div>
					</div>
				</div>

			</div>	
		</main>
		<!--/MAIN -->

		<!--New Record Template-->
		<%- include('partials/templates/record-template'); -%>
		<!--/New Record Template-->
		
		<!-- FOOTER -->
		<%- include('partials/footer'); -%>
		<!--/FOOTER -->
	</body>
</html>